.c-footer,.l-footer {
  font-size: 1rem;
}

.l-footer__list {
  padding: 3.5em 0;
  margin: 0 auto;
}

.l-footer__item {
  width: 22%;
  vertical-align: top;
}

.l-footer__body {
  background: #f0f0f0;
}

.l-footer__footer {
  height: 8em;
  padding: 2.5em 0;
  background: #e9e9e9;
  line-height: 4em;
}

.l-footer__logoPart {
  float: left;
  text-align: center;
}

.l-footer__socialPart {
  float: right;
  text-align: center;
}

.l-footer__social {
  margin: 0 1em;
}

.c-footer {
  margin-top: 1em;
}

.c-footer__head {
  padding: .5em;
  margin-bottom: .575em;
  color: #303942;
  font-size: 15px;
  font-weight: 800;
  text-align: left;
  text-transform: uppercase;
}

.c-footer__link {
  padding: .5em;
  width: 100%;
  display: block;
  border-radius: 5px;
  color: #535353;
  font-size: 13px;
  text-align: left;
  text-decoration: none;
}

.c-footer__link:hover {
  position: relative;
  z-index: 5;
  background: #00bcd4;
  color: #fff;
  font-weight: 700;
}

/*# sourceMappingURL=footer.css.map */
