.l-404 {
  display: block;
  margin-top: -1.25em;
  background: url(../img/map/map404.png) center no-repeat #f7f7f7;
  background-size: contain;
}

.l-404__content {
  position: relative;
  display: block;
  width: 800px;
  margin: 0 auto;
}

.l-404__Block {
  padding-top: 85px;
  width: 800px;
  margin: 0 auto;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.l-404__textBig {
  color: #383838;
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 15px;
}

.l-404__textSmall {
  color: #383838;
  font-size: 30px;
}

.l-404__buttonWrapper {
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.l-404__error {
  position: absolute;
  top: 290px;
  left: 120px;
}

.l-404__errorText {
  color: #005096;
  font-size: 30px;
  font-weight: 700;
}

.l-404__errorText:after {
  content: '';
  height: 10px;
  width: 10px;
  background: #005096;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  top: 40px;
  left: 26px;
}

.l-404__plane {
  background: url(../img/404/Plane.png);
  display: block;
  height: 48px;
  width: 48px;
  position: absolute;
  top: -65px;
  right: 0;
}

.l-404__lines {
  position: relative;
  left: 32px;
  bottom: 62px;
}

/*# sourceMappingURL=404.css.map */
