.c-breadCrumbs {
  display: inline-block;
}

.c-breadCrumbs__link {
  font-family: GothamPro,"Open Sans",sans-serif;
  text-decoration: none;
}

.c-breadCrumbs__link,.c-breadCrumbs__link:hover,.c-cart__title {
  text-decoration: none;
}

.c-breadCrumbs__arrow,.c-cart__totalBlock {
  text-align: center;
}

.c-breadCrumbs__link {
  font-weight: 700;
}

.l-tools {
  padding: .357em 0 .429em;
  background: #f8f8f8;
  font-size: 1rem;
}

.l-tools__content {
  padding: .5em 0;
}

.l-tools__leftPart {
  float: left;
}

.c-profileForm__item .select2-container--default .select2-selection--single .select2-selection__placeholder,.c-supplierForm__item .select2-container--default .select2-selection--single .select2-selection__placeholder {
  color: #7c7c7c;
}

.c-profileForm__item .select2-container .select2-selection--single,.c-supplierForm__item .select2-container .select2-selection--single {
  height: 36px;
}

.c-profileForm__item .select2-container--default .select2-selection--single .select2-selection__rendered,.c-supplierForm__item .select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 34px;
}

.c-breadCrumbs {
  font-size: 1rem;
}

.c-breadCrumbs:last-child .c-breadCrumbs__icon {
  display: none;
}

.c-breadCrumbs__link {
  display: inline-block;
  vertical-align: middle;
  color: #535353;
  font-size: 1em;
  text-transform: uppercase;
  -webkit-transition: color .2s linear .1s;
  transition: color .2s linear .1s;
}

.c-breadCrumbs__link.is-active {
  color: #303942;
}

.c-breadCrumbs__arrow {
  display: inline-block;
}

.c-breadCrumbs__icon {
  width: 100%;
  max-width: .5em;
  max-height: .5em;
  fill: #535353;
  display: inline-block;
  vertical-align: middle;
}

.c-cart__infoText,.c-cart__title {
  color: #005096;
  font-weight: 700;
}

.c-cart {
  font-size: 14px;
  width: 885px;
  margin: 0 auto;
}

.c-cart__bottomRow,.c-cart__infoText {
  margin-bottom: 5px;
}

.c-cart__bottomRow:last-child {
  margin-bottom: 0;
}

.c-cart__list {
  margin-top: 50px;
}

.c-cart__title {
  font-size: 18px;
}

.c-cart__block {
  display: block;
  height: 190px;
  border: 1px solid #00bcd4;
  background-color: #fbfbfb;
  margin-top: 19px;
}

.c-cart__image {
  height: 100%;
  width: 30%;
  position: relative;
  float: left;
}

.c-cart__img {
  width: 100%;
  min-width: 16.4375em;
  height: 100%;
  display: inline-block;
}

.c-cart__bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: bottom,0,100% #00deff;
  opacity: .2;
  -webkit-transition: opacity .2s linear .1s,bottom .3s linear .1s;
  transition: opacity .2s linear .1s,bottom .3s linear .1s;
}

.c-cart__content {
  padding: 22px 12px 0px 14px;
}

.c-cart__info {
  height: 100%;
  width: 24%;
  position: relative;
  border-right: 0;
  border-left: 0;
  float: left;
}

.c-cart__infoText--second {
  margin-top: 10px;
}

.c-cart__infoNumber {
  color: #535353;
}

.c-cart__row {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
}

.c-cart__column>span {
  display: block;
}

.c-cart__bottomText {
  position: absolute;
  bottom: 17px;
}

.c-cart__prices,.c-cart__total {
  height: 100%;
  position: relative;
  float: left;
}

.c-cart__pricesBlock,.c-cart__totalText {
  margin-bottom: 10px;
}

.c-cart__prices {
  width: 24%;
  border-left: 1px solid #00bcd4;
  border-right: 1px solid #00bcd4;
}

.c-cart__pricesText--gray {
  color: #898989;
}

.c-cart__pricesText--lightblue {
  color: #00bad4;
  font-weight: 700;
}

.c-cart__pricesText--black {
  color: #535353;
}

.c-cart__pricesText--bold {
  font-weight: 700;
  margin-bottom: 10px;
}

.c-cart__total {
  width: 22%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.c-cart__iconClose,.c-cart__priceBlock>* {
  display: inline-block;
}

.c-cart__total .c-cart__content {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  width: 100%;
}

.c-cart__totalText {
  color: #535353;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
}

.c-cart__totalPrice {
  color: #00bcd4;
  font-size: 25px;
  font-weight: 700;
}

.c-cart__totalBottom {
  margin-top: 10px;
  line-height: 1.3;
}

.c-cart__iconWrapper {
  position: absolute;
  right: 7.5%;
  top: 7.5%;
  cursor: pointer;
}

.c-cart__iconWrapper:hover .c-cart__iconClose {
  fill: #00bad4;
}

.c-cart__iconClose {
  width: 100%;
  max-width: 1em;
  max-height: 1em;
  fill: #7c7c7c;
}

.c-cart__separator {
  background-color: #e8e8e8;
  height: 1px;
  width: 100%;
  margin: 35px 0;
}

.c-cart__summaryBottom {
  margin: 58px 0 151px;
}

.c-cart__summaryBlock {
  float: left;
  font-size: 14px;
  margin-top: 15px;
}

.c-cart__summaryTitle {
  text-transform: uppercase;
  margin-bottom: 10px;
}

.c-cart__priceBlock {
  float: right;
  font-weight: 700;
}

.c-cart__priceText {
  font-size: 19px;
  text-align: center;
}

.c-cart__priceTitle {
  color: #535353;
  text-transform: uppercase;
}

.c-cart__priceSum {
  color: #00e2ff;
  margin: 10px 0;
  font-size: 30px;
}

/*# sourceMappingURL=cart.css.map */
