.c-blockHead__content {
  text-transform: uppercase;
}

.c-instruction,.l-listings__head {
  font-family: GothamPro,"Open Sans",sans-serif;
}

.c-instruction__contentWrap,.c-instruction__counterWrap,.c-slide__rating {
  vertical-align: middle;
  display: inline-block;
}

.c-blockHead__content,.c-instruction__counter,.c-rating__star,.c-searchForm__img,.l-comments__dotsList,.l-map__imgWrap,.l-map__text {
  text-align: center;
}

.l-instruction {
  padding: .4em 0 0;
  background: rgba(255,255,255,.8);
  font-size: 1rem;
}

.l-instruction__list {
  line-height: 0;
}

.l-instruction__item {
  width: 32%;
  line-height: 1.4;
}

.l-map {
  padding: 0 0 2.714em;
  background: #fff;
  font-size: 1rem;
}

.l-map__imgWrap {
  margin: 0 auto;
  border: 1px solid #005096;
  height: 430px;
  overflow: hidden;
  position: relative;
}

.l-map__img {
  position: relative;
  bottom: 200px;
  display: inline-block;
}

.l-map__markerImg {
  position: absolute;
  top: 40px;
}

.l-map__text {
  width: 70%;
  margin: 1em auto .5em;
  color: #929292;
  font-size: 1em;
  line-height: 1.4;
}

.l-map__text--last {
  width: 100%;
  margin: 0;
}

.l-comments {
  font-size: 1rem;
}

.l-comments__content {
  position: relative;
}

.l-comments__list {
  height: 38.5em;
}

.l-comments__footer {
  padding-left: .25em;
  font-size: 1rem;
  margin-top: 1.5em;
  text-align: center;
}

.l-comments__dotsList {
  margin-top: 6px;
}

.l-comments__dotsList li {
  display: inline-block;
}

.l-comments__dotsList button {
  font-size: 0;
  width: 10px;
  height: 10px;
  padding: 5px;
  cursor: pointer;
  border: 0;
  outline: 0;
  background: #b6b6b6;
  border-radius: 50%;
  margin: 0 5px;
}

.l-comments__dotsList .slick-active button {
  background: #00e2ff;
}

.l-comments__dots {
  margin-left: 2.5%;
  display: inline-block;
}

.l-comments__dotsItem {
  display: inline-block;
  margin: 0 5px;
}

.l-info {
  background: #f8f8f8;
  font-size: 1rem;
}

.l-info__content {
  width: 100%;
  margin: 0 auto;
}

.l-info__leftPart {
  width: 60%;
  float: left;
}

.l-info__rightPart {
  width: 35%;
  height: 46em;
  float: right;
  overflow: hidden;
}

.l-listings {
  padding-bottom: 2em;
  background: #fff;
  font-size: 1rem;
}

.l-listings__content {
  width: 97.5%;
  margin: 0 auto;
}

.l-listings__block {
  width: 100%;
}

.l-listings__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

}

.l-listings__head {
  color: #303942;
  font-size: 1.3125em;
  font-weight: 700;
}

.l-listings__head--main {
  font-size: 1.5em;
}

.l-listings__item {
  margin: 16px 7px 0;
  width: 32%;
}

.c-profileForm__item .select2-container--default .select2-selection--single .select2-selection__placeholder,.c-supplierForm__item .select2-container--default .select2-selection--single .select2-selection__placeholder {
  color: #7c7c7c;
}

.c-profileForm__item .select2-container .select2-selection--single,.c-supplierForm__item .select2-container .select2-selection--single {
  height: 36px;
}

.c-profileForm__item .select2-container--default .select2-selection--single .select2-selection__rendered,.c-supplierForm__item .select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 34px;
}

.c-blockHead {
  padding: 3.571em 0;
  font-size: 1rem;
  background: 0 0;
}

.c-blockHead__content {
  color: #005096;
  font-size: 2.142em;
  font-weight: 800;
}

.c-dot.is-active .c-dot__img {
  background: #00e2ff;
}

.c-rating {
  font-size: 12px;
}

.c-rating__stars {
  display: inline-block;
}

.c-rating__star {
  display: inline-block;
}

.c-rating__icon {
  width: 12px;
  height: 12px;
  display: inline-block;
  -webkit-transition: all .2s linear .1s;
  transition: all .2s linear .1s;
  margin: 0 2px;
}

.c-rating__icon--big {
  width: 1.357em;
  height: 1.357em;
}

.c-rating__icon--small {
  width: 10px;
  height: 10px;
}

.c-rating__leftInner.is-active {
  fill: #00bcd4;
}

.c-rating__leftInner--transparent.is-active {
  fill: #fff;
}

.c-rating__leftBorder.is-active {
  fill: #00bcd4;
}

.c-rating__leftBorder--transparent.is-active {
  fill: #fff;
}

.c-rating__rightInner.is-active {
  fill: #00bcd4;
}

.c-rating__rightInner--transparent.is-active {
  fill: #fff;
}

.c-rating__rightBorder.is-active {
  fill: #00bcd4;
}

.c-rating__rightBorder--transparent.is-active {
  fill: #fff;
}

.c-rating__value--small {
  display: inline-block;
  color: #7c7c7c;
  font-size: 14px;
}

.c-rating__value--small {
  font-size: 9px;
}

.c-rating--whiteEmptyStar .c-rating__leftInner.is-active {
  fill: #00bcd4;
}

.c-rating--whiteEmptyStar .c-rating__leftBorder.is-active {
  fill: #00bcd4;
}

.c-rating--whiteEmptyStar .c-rating__rightInner.is-active {
  fill: #00bcd4;
}

.c-rating--whiteEmptyStar .c-rating__rightBorder.is-active {
  fill: #00bcd4;
}

.c-searchForm {
  font-size: 1rem;
}

.c-searchForm__inputBlock {
  width: 100%;
  position: relative;
}

.c-searchForm__input {
  width: 490px;
  height: 38px;
  border: none;
  border-radius: 3px;
  outline: 0;
  font-size: 13px;
  color: #7c7c7c;
  padding: 0 45px;
}

.c-searchForm__img {
  width: 8.5%;
  height: 100%;
  padding: 3% 0;
  position: absolute;
  top: -5px;
}

.c-searchForm__icon {
  width: 100%;
  max-width: 1.35em;
  max-height: 1.35em;
  display: inline-block;
  fill: #9b9b9b;
  -webkit-transition: fill .2s linear .1s;
  transition: fill .2s linear .1s;
}

.c-searchForm input[type=text] {
  color: #7c7c7c;
}

.c-instruction {
  color: #7c7c7c;
  font-size: 1rem;
}

.c-instruction__counterWrap {
  width: 20%;
}

.c-instruction__contentWrap {
  width: 75%;
}

.c-instruction__counter {
  width: 2em;
  padding: .25em;
  height: 2em;
  margin: 0 auto;
  border: 1px solid #7c7c7c;
  border-radius: 50%;
}

.c-instruction__number {
  font-size: 1em;
  font-weight: 800;
}

.c-instruction__head {
  margin-bottom: .5625em;
  font-size: 1.071em;
  font-weight: 700;
  text-transform: uppercase;
}

.c-instruction__text {
  font-size: .857em;
  line-height: 1.4;
}

.c-slider {
  font-size: 1rem;
}

.c-slider__body {
  height: 40em;
}

.c-slider__list {
  margin: 1em auto 0;
}

.c-slider__item {
  width: 49%;
  height: 12.5em;
}

.c-slider__item.is-active {
  width: 100%;
  height: 35em;
  max-height: 25em;
  margin: 0 auto;
}

.c-slider__numbers {
  font-size: 14px;
  font-weight: 700;
}

.c-slider__footer {
  width: 98%;
  margin: 0 auto;
}

.c-slide {
  padding: 6%;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  font-size: 1rem;
}

.c-slide__bg,.c-slide__img {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  left: 0;
}

.c-slide__bg {
  background: -webkit-linear-gradient(top,rgba(0,168,255,.2) 0,rgba(0,222,255,.2) 100%);
  background: linear-gradient(to bottom,rgba(0,168,255,.2) 0,rgba(0,222,255,.2) 100%);
  opacity: 1;
  -webkit-transition: opacity .5s cubic-bezier(.47,1.14,1,.97) .1s;
  transition: opacity .5s cubic-bezier(.47,1.14,1,.97) .1s;
}

.c-slide__content {
  width: 100%;
  height: 100%;
  position: relative;
}

.c-slide__category,.c-slide__category--small {
  padding-top: .2em;
  float: left;
  display: inline-block;
  vertical-align: middle;
  color: #fff;
  font-size: .857em;
  text-transform: uppercase;
}

.c-slide__category--small {
  font-size: .714em;
}

.c-slide__rating {
  float: right;
  text-align: right;
}

.c-slide__footer {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  text-align: left;
}

.c-slide__enabledContent {
  font-size: .875rem;
}

.c-slide__head,.c-slide__head--small {
  display: inline-block;
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  margin-right: 13px;
}

.c-slide__head--small {
  display: block;
  font-size: 18px;
}

.c-slide__text,.c-slide__text--italic {
  color: #fff;
  font-size: 12px;
}

.c-slide__text--italic {
  font-style: italic;
}

.c-slide__numbers {
  color: #fff;
  font-size: 15px;
  font-style: italic;
  font-weight: 700;
  margin-left: 5px;
}

.c-slide__disabledContent {
  display: none;
  margin: 2em 0 0;
}

.c-slide__list {
  padding-left: 1.25em;
  float: left;
  list-style-type: disc;
}

.c-slide__item {
  margin: .75em 0;
  color: #fff;
  font-size: .75em;
}

.c-slide__buttonWrap {
  padding: 1.5em 0;
  float: right;
  text-align: right;
}

.c-slide.is-active .c-slide__disabledContent {
  display: block;
}

.c-comment {
  font-size: 1rem;
}

.c-comment__wrapper--white {
  border: 1px solid #c6c6c6;
  padding: 13px 15px 35px 0;
  margin-bottom: 15px;
}

.c-comment__wrapper--white {
  background-color: #fff;
  height: 18.714em;
}

.c-person__content,.c-person__photo {
  text-align: center;
}

.c-comment__likeWrapper--main {
  float: right;
}

.c-comment__rightWrapper--small {
  margin-left: 37%;
  position: relative;
}

.c-comment__head {
  color: #383838;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
}

.c-comment__head--small {
  font-size: 13px;
}

.c-comment__name--small {
  color: #005096;
  font-size: 21px;
  font-weight: 700;
  text-decoration: none;
}

.c-comment__name--small {
  font-size: 15px;
}

.c-comment__icon--small {
  height: 25px;
  width: 25px;
  fill: #00bcd4;
  -webkit-transition: fill .1s linear .1s;
  transition: fill .1s linear .1s;
}

.c-comment__icon--small:hover {
  fill: #00e3ff;
}

.c-comment__icon--small {
  height: 15px;
  width: 15px;
}

.c-comment__info {
  margin: 7px auto 28px;
  width: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.c-comment__info--small {
  margin: 7px auto 14px;
}

.c-comment__date {
  color: #7c7c7c;
  font-size: 11px;
  position: absolute;
  right: 5px;
  top: 0px;
}

.c-comment__text {
  margin: .5em 0 0;
  color: #383838;
  font-size: 14px;
  line-height: 1.6;
  max-height: 8em;
  overflow: hidden;
}

.c-comment__text--small {
  font-size: 13px;
  line-height: 1.4;
  /*height: 108px;
  max-height: none;*/
  margin-bottom: 6px;
}

.c-comment__link {
  color: #00bcd4;
  font-size: 14px;
  text-decoration: none;
}

.c-comment__link--small {
  font-size: 13px;
}

.c-comment__link:hover {
  color: #00e2ff;
}

.c-person {
  font-size: 1rem;
  float: left;
  width: 28%;
}

.c-person--main {
  width: 35%;
}

.c-person__photo {
  display: inline-block;
  vertical-align: top;
}

.c-person__img {
  width: 100px;
  height: 90px;
  max-width: none;
  max-height: none;
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
}

.c-person__button--small {
  margin-top: 1.071em;
  padding: 1em 1.214em;
  display: inline-block;
  border: 1px solid #005096;
  border-radius: 3px;
  color: #005096;
  font-size: 1em;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  -webkit-transition: fill .2s linear .1s,color .1s linear 0s;
  transition: fill .2s linear .1s,color .1s linear 0s;
}

.c-listing__head {
  text-align: left;
  font-weight: 700;
}

.c-person__button--small {
  font-size: 11px;
  padding: 6px 8px;
  margin-top: 9px;
}

.c-person__button--small:hover {
  color: #00bcd4;
  background: 0 0;
  border: 1px solid #00bcd4;
}

.c-blockBottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 14px;
}

.c-blockBottom__leftSide {
  display: inline-block;
  padding: 8px 10px;
  background: rgba(255,255,255,.2);
  border-radius: 3px;
  color: #fff;
  font-family: GothamPro,"Open Sans",sans-serif;
  font-size: 11px;
  font-style: italic;
}

.c-listing,.c-listing__bg {
  border-radius: 7.5px;
  overflow: hidden;
}

.c-listing__head {
  color: #fff;
  font-family: GothamPro,"Open Sans",sans-serif;
}

.c-blockBottom__price {
  margin-left: 10px;
  font-size: 13px;
  font-weight: 700;
}

.c-blockBottom__rightSide {
  display: inline-block;
}

.c-listing {
  height: 15em;
  position: relative;
  font-size: 1rem;
}

.c-listing__bg,.c-listing__img {
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
}

.c-listing__link {
  width: 100%;
  height: 100%;
  display: block;
  text-decoration: none;
}

.c-listing__bg {
  height: 128%;
  opacity: 1;
  background: -webkit-linear-gradient(top,rgba(0,222,255,.1) 0,rgba(0,168,255,.3) 35%,rgba(105,105,105,.7) 65%,#555 85%);
  background: linear-gradient(to bottom,rgba(0,222,255,.1) 0,rgba(0,168,255,.3) 35%,rgba(105,105,105,.7) 65%,#555 85%);
}

.c-listing__img {
  height: 100%;
  display: inline-block;
}

.c-listing__content {
  width: 90%;
  margin: 0 auto;
  position: relative;
  top: 70px;
}

.c-listing__content--main {
  top: 90px;
}

.c-listing__head {
  font-size: 1.286em;
  line-height: 1.4;
}

/*# sourceMappingURL=index.css.map */
