.c-breadCrumbs__icon,.c-breadCrumbs__link {
  vertical-align: middle;
  display: inline-block;
}

.c-profileDialogue__body,.c-profileDialogue__header {
  border: 1px solid #e8e8e8;
}

.c-breadCrumbs__link,.c-breadCrumbs__link:hover {
  text-decoration: none;
}

.c-breadCrumbs__link,.c-profileDialogue__textarea {
  font-family: GothamPro,"Open Sans",sans-serif;
}

.l-tools {
  padding: .357em 0 .429em;
  background: #f8f8f8;
  font-size: 1rem;
}

.l-tools__content {
  padding: .5em 0;
}

.l-tools__leftPart {
  float: left;
}

.c-breadCrumbs {
  font-size: 1rem;
  display: inline-block;
}

.c-breadCrumbs:last-child .c-breadCrumbs__icon {
  display: none;
}

.c-breadCrumbs__link {
  color: #535353;
  font-size: 1em;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-transition: color .2s linear .1s;
  transition: color .2s linear .1s;
}

.c-breadCrumbs__link.is-active {
  color: #303942;
}

.c-breadCrumbs__arrow {
  display: inline-block;
  text-align: center;
}

.c-breadCrumbs__icon {
  width: 100%;
  max-width: .5em;
  max-height: .5em;
  fill: #535353;
}

.c-profileDialogue {
  margin-bottom: 25px;
}

.c-profileDialogue__body {
  padding: 24px 35px 0;
  height: 470px;
  overflow-y: auto;
}

.c-profileDialogue__footer {
  border: 1px solid #e8e8e8;
  border-top: none;
  background: #f7f7f7;
  padding: 21px 0;
}

.c-profileDialogue__leftPart {
  border-right: 1px solid #e8e8e8;
  float: left;
}

.c-profileDialogue__rightPart {
  float: left;
  margin-left: 30px;
  margin-top: 20px;
}

.c-profileDialogue__linkBack {
  display: block;
  fill: #535353;
  outline: 0;
}

.c-profileDialogue__linkBack:hover {
  fill: #00bcd4;
}

.c-profileDialogue__iconBack {
  margin: 24px 30px;
  height: 14px;
  width: 14px;
}

.c-profileDialogue__link {
  text-decoration: none;
  outline: 0;
}

.c-profileDialogue__headerText {
  display: inline-block;
  color: #00bcd4;
  font-size: 18px;
  border-bottom: 1px solid #00bcd4;
  padding-bottom: 2px;
}

.c-profileDialogue__headerTextName {
  display: inline-block;
  font-size: 18px;
  font-weight: 700;
  color: #535353;
}

.c-profileDialogue__dateWrapper {
  text-align: center;
  margin-bottom: 10px;
}

.c-profileDialogue__date {
  padding: 6px 17px;
  background: #f7f7f7;
  font-size: 12px;
  color: #535353;
  border-radius: 70px;
  display: inline-block;
}

.c-profileDialogue__content {
  position: relative;
  margin-bottom: 30px;
}

.c-profileDialogue__contentLeft {
  float: left;
  width: 6%;
}

.c-profileDialogue__photo {
  width: 51px;
  height: 51px;
  border-radius: 50%;
}

.c-profileDialogue__contentCenter {
  float: left;
  width: 89%;
  margin: 13px 0 0 15px;
}

.c-profileDialogue__name {
  font-size: 14px;
  color: #535353;
  font-weight: 700;
  margin-bottom: 10px;
}

.c-profileDialogue__name--yourName {
  color: #005096;
}

.c-profileDialogue__text {
  font-size: 14px;
  color: #535353;
  line-height: 1.5;
  margin-right: 25px;
}

.c-profileDialogue__text a {
  color: #005096;
  font-weight: 700;
}

.c-profileDialogue__contentRight {
  position: absolute;
  right: 0;
  margin-top: 13px;
}

.c-profileDialogue__time {
  font-size: 14px;
  color: #bababa;
}

.c-profileDialogue__footerContent {
  display: block;
}

.c-profileDialogue__footerLeft {
  float: left;
  width: 8%;
}

.c-profileDialogue__linkUpload {
  width: .1px;
  height: .1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.c-profileDialogue__linkUpload+.c-profileDialogue__linkLabel {
  cursor: pointer;
  display: inline-block;
  fill: #898989;
  -webkit-transition: fill .2s ease-out;
  transition: fill .2s ease-out;
}

.c-profileDialogue__linkUpload+.c-profileDialogue__linkLabel:hover {
  fill: #00e2ff;
}

.c-profileDialogue__iconAttach {
  margin: 10px 22px;
  height: 28px;
  width: 28px;
  -webkit-transform: rotate(8deg);
  -ms-transform: rotate(8deg);
  transform: rotate(8deg);
  overflow: hidden;
}

.c-profileDialogue__footerCenter {
  float: left;
  width: 85%;
}

.c-profileDialogue__textarea {
  width: 100%;
  background: #fff;
  outline: 0;
  resize: none;
  overflow: hidden;
  padding: 16px 14px 17px;
  border: 1px solid #e8e8e8;
  border-radius: 5px;
}

.c-profileDialogue__footerRight {
  float: right;
  width: 7%;
}

.c-profileDialogue__submit {
  font-size: 0;
  background: 0 0;
  border: none;
  cursor: pointer;
  outline: 0;
  fill: #898989;
  -webkit-transition: fill .2s ease-out;
  transition: fill .2s ease-out;
}

.c-profileDialogue__submit:hover {
  fill: #00e2ff;
}

.c-profileDialogue__iconSubmit {
  height: 40px;
  width: 40px;
  margin-top: 5px;
  overflow: hidden;
}

/*# sourceMappingURL=profileDialogue.css.map */
