.c-breadCrumbs__link,.c-breadCrumbs__link:hover {
    text-decoration: none;
}

.c-breadCrumbs__link,.c-modalForm__input {
    font-family: GothamPro,"Open Sans",sans-serif;
}

.l-tools {
    padding: .357em 0 .429em;
    background: #f8f8f8;
    font-size: 1rem;
}

.l-tools__content {
    padding: .5em 0;
}

.l-tools__leftPart {
    float: left;
}

.l-columnPage {
    margin: 50px 0 120px;
}

.l-columnPage__title {
    color: #005096;
    font-size: 30px;
    font-weight: 900;
    text-align: center;
    margin-bottom: 45px;
}

.l-columnPage__leftSide {
    width: 645px;
    float: left;
}

.l-columnPage__rightSide {
    width: 400px;
    float: right;
}

.l-columnPage__text {
    color: #383838;
    font-size: 14px;
    line-height: 23px;
    margin-bottom: 15px;
}

.l-columnPage__text--black {
    font-weight: 700;
    margin-bottom: 0;
}

.l-columnPage__text--inline {
    color: #383838;
    font-size: 14px;
    font-weight: 400;
    display: block;
}

.l-columnPage__bottom {
    margin-top: 30px;
    border: 1px solid #e9e9e9;
    padding: 46px 55px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
}

.l-columnPage__bottomTitle {
    width: 112px;
    color: #898989;
    font-weight: 700;
    line-height: 20px;
}

.l-columnPage__mail,.l-columnPage__phone {
    color: #383838;
    font-weight: 700;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
}

.l-columnPage__icon {
    fill: #c7c7c7;
    width: 18px;
    height: 18px;
    margin-right: 11px;
    vertical-align: middle;
}

.l-columnPage__item {
    color: #383838;
    font-size: 14px;
    font-weight: 700;
    line-height: 23px;
}

.l-columnPage__item:last-child {
    margin-bottom: 15px;
}

.c-breadCrumbs {
    font-size: 1rem;
    display: inline-block;
}

.c-breadCrumbs:last-child .c-breadCrumbs__icon {
    display: none;
}

.c-breadCrumbs__link {
    display: inline-block;
    vertical-align: middle;
    color: #535353;
    font-size: 1em;
    font-weight: 700;
    text-transform: uppercase;
    -webkit-transition: color .2s linear .1s;
    transition: color .2s linear .1s;
}

.c-breadCrumbs__link.is-active {
    color: #303942;
}

.c-breadCrumbs__arrow {
    display: inline-block;
    text-align: center;
}

.c-breadCrumbs__icon {
    width: 100%;
    max-width: .5em;
    max-height: .5em;
    fill: #535353;
    display: inline-block;
    vertical-align: middle;
}

.c-searchForm {
    font-size: 1rem;
}

.c-searchForm__inputBlock {
    width: 100%;
    position: relative;
}

.c-searchForm__input {
    width: 490px;
    height: 38px;
    border: none;
    border-radius: 3px;
    outline: 0;
    font-size: 13px;
    color: #7c7c7c;
    padding: 0 45px;
}

.c-searchForm__img {
    width: 8.5%;
    height: 100%;
    padding: 3% 0;
    position: absolute;
    top: -5px;
    text-align: center;
}

.c-modalForm__body,.c-modalForm__header {
    background-color: #f7f7f7;
    padding: 38px 36px 33px;
}

.c-searchForm__icon {
    width: 100%;
    max-width: 1.35em;
    max-height: 1.35em;
    display: inline-block;
    fill: #9b9b9b;
    -webkit-transition: fill .2s linear .1s;
    transition: fill .2s linear .1s;
}

.c-searchForm input[type=text] {
    color: #7c7c7c;
}

.c-modalForm {
    border: 1px solid #ddd;
    font-size: 14px;
}

.c-modalForm__header {
    border-bottom: 1px solid #ddd;
}

.c-modalForm__footer {
    padding: 46px 36px 48px;
    background-color: #fff;
}

.c-modalForm__title {
    color: #383838;
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
}

.c-modalForm__text {
    color: #383838;
    line-height: 21px;
    margin: 20px 0 29px;
}

.c-modalForm__text--bold {
    color: #898989;
    font-weight: 700;
    margin: 5px 0 10px;
}

.c-modalForm__searchBlock {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
}

.c-modalForm__input {
    border-radius: 3px;
    border: 1px solid #e9e9e9;
    color: #383838;
    font-size: 14px;
    padding: 10px 15px 9px;
    width: 100%;
    -webkit-transition: border .3s ease-out;
    transition: border .3s ease-out;
    margin-top: 7px;
}

.c-modalForm__input:-ms-input-placeholder {
    color: #7c7c7c;
    font-size: 14px;
}

.c-modalForm__input:-moz-placeholder {
    color: #7c7c7c;
    font-size: 14px;
}

.c-modalForm__input::-moz-placeholder {
    color: #7c7c7c;
    font-size: 14px;
}

.c-modalForm__input::-webkit-input-placeholder {
    color: #7c7c7c;
    font-size: 14px;
}

.c-modalForm__input:focus {
    border: 1px solid #00bad4;
}

.c-modalForm__input--search {
    width: 88%;
    margin-bottom: 0;
}

.c-modalForm__button--search {
    padding: 9px 9px 0;
}

.c-modalForm__flag {
    float: left;
}

.c-modalForm__content {
    margin-left: 60px;
}

.c-modalForm__icon {
    fill: #c7c7c7;
    width: 21px;
    height: 21px;
    margin-right: 11px;
    vertical-align: middle;
}

.c-modalForm__icon--search {
    width: 17px;
    height: 17px;
}

.c-modalForm__textarea {
    resize: none;
    height: 115px;
    font-size: 14px;
}

.c-modalForm__form .c-button {
    float: right;
    margin-top: 14px;
}

.c-modalForm__country {
    color: #383838;
    font-size: 21px;
    font-weight: 700;
}

.c-modalForm__img {
    width: 30px;
    height: 20px;
    border: 1px solid #e9e9e9;
    border-radius: 3px;
}

.c-modalForm__bottom {
    color: #383838;
    font-size: 18px;
    font-weight: 700;
    margin-top: 30px;
}

.c-modalForm__alertBlock {
    margin-bottom: 20px;
    border-bottom: 1px solid #e7e7e7;
    padding: 34px;
    background: #f7f7f7;
    text-align: center;
}

.c-modalForm__alertText {
    color: #005096;
    font-weight: 700;
    font-size: 21px;
    margin-bottom: 30px;
    line-height: 1.3;
}


/*# sourceMappingURL=staticPage.css.map */
