.c-breadCrumbs__link,.c-tabs,.l-supplierSignUp {
  font-family: GothamPro,"Open Sans",sans-serif;
}

.c-breadCrumbs__link,.c-breadCrumbs__link:hover,.c-tabs__link {
  text-decoration: none;
}

.l-tools {
  padding: .357em 0 .429em;
  background: #f8f8f8;
  font-size: 1rem;
}

.l-tools__content {
  padding: .5em 0;
}

.l-tools__leftPart {
  float: left;
}

.l-supplierSignUp__textBlock {
  margin: 45px auto 55px;
  max-width: 750px;
}

.l-supplierSignUp__text {
  color: #383838;
  font-size: 21px;
  text-align: center;
  line-height: 35px;
}

.l-supplierSignUp__bannerBlock {
  border: 1px solid #e9e9e9;
  background: #f7f7f7;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.l-supplierSignUp__banner {
  height: 145px;
  line-height: 145px;
}

.l-supplierSignUp__bannerText {
  color: #383838;
  font-size: 18px;
  display: inline-block;
  line-height: 1.5;
  vertical-align: middle;
  width: 260px;
  margin-left: 20px;
}

.l-supplierSignUp__bannerIcon {
  width: 36px;
  height: 36px;
  vertical-align: middle;
}

.l-supplierSignUp__title {
  color: #383838;
  font-size: 21px;
  text-align: center;
  font-weight: 700;
  margin-bottom: 50px;
}

.c-profileForm__item .select2-container--default .select2-selection--single .select2-selection__placeholder,.c-supplierForm__item .select2-container--default .select2-selection--single .select2-selection__placeholder {
  color: #7c7c7c;
}

.c-profileForm__item .select2-container .select2-selection--single,.c-supplierForm__item .select2-container .select2-selection--single {
  height: 36px;
}

.c-profileForm__item .select2-container--default .select2-selection--single .select2-selection__rendered,.c-supplierForm__item .select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 34px;
}

.c-breadCrumbs {
  font-size: 1rem;
  display: inline-block;
}

.c-breadCrumbs:last-child .c-breadCrumbs__icon {
  display: none;
}

.c-breadCrumbs__link {
  display: inline-block;
  vertical-align: middle;
  color: #535353;
  font-size: 1em;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-transition: color .2s linear .1s;
  transition: color .2s linear .1s;
}

.c-breadCrumbs__link.is-active {
  color: #303942;
}

.c-breadCrumbs__arrow {
  display: inline-block;
  text-align: center;
}

.c-breadCrumbs__icon {
  width: 100%;
  max-width: .5em;
  max-height: .5em;
  fill: #535353;
  display: inline-block;
  vertical-align: middle;
}

.c-supplierForm__company {
  margin-bottom: 40px;
}

.c-signUp__policyBlock {
  margin: 1em auto 0;
}

.c-signUp__policy {
  display: inline-block;
  color: #7c7c7c;
  font-size: 10px;
  font-weight: 400;
}

.l-supplierSignUp .c-signUp__policy--link {
  color: #00bcd4;
  text-decoration: none;
  -webkit-transition: text-decoration .2s linear .1s;
  transition: text-decoration .2s linear .1s;
}

.c-signUp__policy--link:hover {
  text-decoration: underline;
}

.c-supplierForm__area,.c-supplierForm__input {
  padding: 9px 14px 10px 15px;
  outline: 0;
  font-family: GothamPro,"Open Sans",sans-serif;
}

.c-signUp__supplierSignUp {
  width: 21%;
  text-align: center;
}

.c-supplierForm {
  font-family: GothamPro,"Open Sans",sans-serif;
  width: 70%;
  margin: 0 auto;
}

.c-supplierForm__header {
  margin-top: 50px;
  margin-bottom: 20px;
  font-size: 16px;
  color: #005096;
  font-weight: 700;
  text-transform: uppercase;
}

.c-supplierForm__header--first {
  margin-top: 100px;
}

.c-supplierForm__leftPart {
  width: 48%;
  float: left;
}

.c-supplierForm__rightPart {
  width: 48%;
  float: right;
}

.c-supplierForm__item {
  width: 100%;
  position: relative;
}

.c-supplierForm__item:not(:first-child) {
  margin-top: 20px;
}

.c-supplierForm__input {
  width: 100%;
  height: 36px;
  border: 1px solid #c6c6c6;
  border-radius: 3px;
  color: #212121;
  font-size: 1em;
  -webkit-transition: border .3s ease-out;
  transition: border .3s ease-out;
}

.c-supplierForm__input:focus {
  border: 1px solid #00bad4;
}

.c-supplierForm__select {
  width: 100%;
  outline: 0;
  background: url(../img/icon/down-arrow-select.svg) right 3% center no-repeat #f7f7f7;
  border-radius: 3px;
  color: #7c7c7c;
  font-size: 1em;
  font-family: GothamPro,"Open Sans",sans-serif;
  -moz-appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
}

.c-supplierForm__label {
  position: absolute;
  top: 10px;
  left: 15px;
  color: #7c7c7c;
  font-size: 1em;
  z-index: -5;
  overflow: hidden;
  -webkit-transition: text-indent .2s linear .1s;
  transition: text-indent .2s linear .1s;
}

.c-supplierForm__label.is-active {
  z-index: 5;
}

.c-supplierForm__area {
  width: 100%;
  max-width: 100%;
  resize: none;
  height: 145px;
  border: 1px solid #c6c6c6;
  border-radius: 3px;
  color: #212121;
  font-size: 1em;
  -webkit-transition: border .3s ease-out;
  transition: border .3s ease-out;
}

.c-supplierForm__area:focus {
  border: 1px solid #00bad4;
}

.c-supplierForm__area:-ms-input-placeholder {
  color: #7c7c7c;
}

.c-supplierForm__area:-moz-placeholder {
  color: #7c7c7c;
}

.c-supplierForm__area::-moz-placeholder {
  color: #7c7c7c;
}

.c-supplierForm__area::-webkit-input-placeholder {
  color: #7c7c7c;
}

.c-supplierForm__photoHeader {
  display: block;
  color: #7c7c7c;
  font-size: 1em;
  margin: 30px 0 20px;
}

.c-supplierForm__uploadWrapper {
  display: inline-block;
}

.c-supplierForm__linkLabel {
  display: inline-block;
  position: relative;
  fill: #005096;
  color: #005096;
  font-size: 1em;
  font-family: GothamPro,"Open Sans",sans-serif;
  padding: 11px 17px 10px 40px;
  cursor: pointer;
  border-radius: 3px;
  border: 1px solid #005096;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.c-supplierForm__linkLabel:hover {
  fill: #00bad4;
  color: #00bad4;
  border: 1px solid #00bad4;
}

.c-supplierForm__link {
  width: .1px;
  height: .1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.c-supplierForm__iconAttach {
  position: absolute;
  top: 9px;
  left: 15px;
  height: 18px;
  width: 18px;
  -webkit-transform: rotate(8deg);
  -ms-transform: rotate(8deg);
  transform: rotate(8deg);
  overflow: hidden;
}

.c-supplierForm__linkInfo {
  display: inline-block;
}

.c-supplierForm__linkTitle {
  display: inline-block;
  margin-left: 25px;
  max-width: 235px;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.c-supplierForm__linkCancel {
  fill: #47cde0;
  width: 10px;
  height: 10px;
  margin-left: 15px;
  cursor: pointer;
}

.c-supplierForm__buttonWrapper {
  margin-top: 60px;
  text-align: center;
}

/*# sourceMappingURL=supplierSignUp.css.map */
