.c-orders .summary {
    margin-bottom: 20px;
}

.c-orders__table {
    width: 100%;
    border: 1px solid #e8e8e8;
    text-align: center;
    font-size: 14px;
}

.c-orders__table .select2-container {
    min-height: auto;
}

.c-orders__table .select2-container .select2-selection--single {
    background: none;
    border: none;
    border-radius: 0;
    padding: 0;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    height: 24px;
}

.c-orders__table .select2-container .select2-selection--single .select2-selection__rendered {
    line-height: 1;
    vertical-align: middle;
    display: inline-block;
    font-size: 12px;
    padding-left: 10px;
    white-space: nowrap;
    max-width: 90%;
}

.c-orders__table .select2-container .select2-selection--single .select2-selection__placeholder {
    color: #333;
    font-size: 12px;
}

.c-orders__table .select2-container .select2-selection--single .select2-selection__arrow {
    height: 14px;
}

.c-orders__table .select2-container--default .select2-selection--single .select2-selection__clear {
    position: absolute;
    right: 20px;
}

.c-orders__table .date {
    position: relative;
    height: 20px;
}

.orders__dateRemove {
    font-size: 12px;
    font-weight: bold;
    position: absolute;
    right: 3px;
    margin-top: 2px;
}

.ordersDropdown .select2-results__option {
    font-size: 12px;
}

.c-orders__table .filters {
    text-align: left;
}

.c-orders__table .filters td {
    border-right: 1px solid #e8e8e8;
    border-top: 1px solid #e8e8e8;
    vertical-align: top;
    padding-top: 5px;
    background: #DDDCE7;
}

.c-orders__table .filters td input {
    border: none;
    width: 80%;
    outline: none;
    font-size: 12px;
    background: #DDDCE7;
    padding-left: 10px;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.c-orders__table .filters td input::-webkit-input-placeholder {
    color: #333;
    font-size: 12px;
}

.c-orders__table .filters td input:-ms-input-placeholder {
    color: #333;
    font-size: 12px;
}

.c-orders__table .filters td input::placeholder {
    color: #333;
    font-size: 12px;
}

.c-orders__header th {
    text-align: left;
    font-size: 12px;
    color: #383838;
    font-weight: 700;
    vertical-align: middle;
    border-right: 1px solid #e8e8e8;
    padding: 8px 0px 8px 10px;
}

.c-orders__header a {
    color: #383838;
    font-weight: 700;
}

.c-orders__header a:after {
    display: inline-block;
    height: 9px;
    width: 10px;
    content: '';
    margin-left: 10px;
    background: url('../img/icon/down-arrow-select.svg');
}

.c-orders__header a.asc:after {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}


.c-orders__rows {
    border-bottom: 1px solid #e8e8e8;
    font-size: 14px;
}

.c-orders__rows:first-child {
    border-top: 1px solid #e8e8e8;
}

.c-orders__rows td {
    padding: 20px 0;
    vertical-align: middle;
}

.c-orders__rows td:nth-child(1) {
    font-weight: 700;
}

.c-orders__rows td:nth-child(7) {
    font-size: 18px;
    color: #00bad4;
    font-weight: 700;
}

.c-orders__rows td:nth-child(8) {
    font-size: 12px;
    color: #00bad4;
    text-decoration: underline;
    text-transform: capitalize;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
}

.c-orders__details {
    font-size: 12px;
}

.c-orders__table .empty {
    padding: 40px 0;
    border-top: 1px solid #e8e8e8;
    color: #005096;
    font-weight: bold;
}

.c-orders__table .kv-editable-link, .c-orders__table .kv-editable-link:hover, .c-orders__table .kv-editable-link:focus {
    border: none;
    outline: none;
}

.c-orders__table .kv-editable-link:hover .orders__checked, .c-orders__table .kv-editable-link:focus .orders__checked {
    fill: #00bad4;
}

.c-orders__table .kv-editable-link:hover .orders__checked--reject, .c-orders__table .kv-editable-link:focus .orders__checked--reject {
    fill: black;
}

.orders__checked, .c-orders__message {
    width: 20px;
    height: 20px;
    fill: #8a8a8a;
    -webkit-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

.c-orders__messageWrapper a:hover .c-orders__message {
    fill: #00bad4;
}

.c-orders__conditionals .panel .kv-editable-form-inline {
    margin-top: 0;
    padding: 0;
}

.c-orders__conditionals .kv-editable-form-inline .form-group {
    margin-top: 0;
}

.c-orders__conditionals .kv-editable-content .help-block {
    margin: 10px 0;
    color: #005096;
    font-weight: bold;
}

.c-orders__inputs label {
    display: block;
}

.c-details__wrapper {
    width: 100%;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    text-align: left;
    background-color: #f7f7f7;
}

.c-details__pickUpPoints {
    background-color: #f7f7f7;
    border-bottom: 1px solid #e8e8e8;
    padding: 0 35px 15px;
    text-align: left;
}

.c-details__block {
    width: 33%;
    margin: 29px 35px 20px;
}

.c-details__title {
    color: #535353;
    font-weight: 700;
}

.c-details__text {
    position: relative;
    margin-top: 20px;
    color: #383838;
}

.c-details__textTitle {
    position: relative;
    z-index: 2;
    background: #f7f7f7;
}

.c-details__bg {
    width: 100%;
    height: 12px;
    z-index: 1;
    display: block;
    top: 0;
    position: absolute;
    border-bottom: 2px dotted #d2d2d2;
}

.c-details__travellersCount {
    float: right;
    position: relative;
    z-index: 2;
    background: #f7f7f7;
}

.c-details__chatWrapper {
    margin-top: 20px;
    display: inline-block;
    border-bottom: 1px solid #00bcd4;
    padding-bottom: 2px;
    -webkit-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

.c-details__chatWrapper:hover, .c-details__download:hover {
    border-color: #00e2ff;
}

.c-details__chatWrapper:hover a, .c-details__download:hover a {
    color: #00e2ff;
}

.c-details__chatWrapper:hover .c-details__message, .c-details__download:hover .c-details__downloadIcon {
    fill: #00e2ff;
}

.c-details__chatWrapper a {
    color: #00bcd4;
    -webkit-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

.c-details__message {
    height: 15px;
    width: 15px;
    fill: #00bcd4;
    vertical-align: bottom;
    -webkit-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

.c-details__price {
    color: #00bad4;
    font-weight: 700;
}

.c-details__download {
    margin-top: 20px;
    display: inline-block;
    border-bottom: 1px solid #005096;
    padding-bottom: 2px;
    -webkit-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

.c-details__download a {
    color: #005096;
    -webkit-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

.c-details__downloadIcon {
    height: 12px;
    width: 12px;
    fill: #005096;
    vertical-align: bottom;
    -webkit-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}